.Score {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaaaaa;
}

.Score__value {
  width: 30px;
  color: var(--primary-color);
  opacity: 0.8;
  font-size: 1.5em;
  display: inline-block;
  text-align: right;
  transform: translateY(0.1rem);
}
